@charset "utf-8";

form
{
	padding:0px;
	margin:0px;
}

input, select, textarea, upload
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#000;
	background-color:#FFF;
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border:1px solid #494949;
}

.signInFieldBar
{
	width:auto;
	margin-bottom:6px;
}

.signInFieldName
{
	float:left;
	width:200px;
	font-size:14px;
	font-weight:bold;
}

.signInFieldValue
{
	float:left;
	width:400px;
}

.signInOptionsBar
{
	width:auto;
	margin-top:12px;
	margin-left:200px;
}

.signInOptionsField
{
	float:left;
	width:20px;
}

.signInOptionsValue
{
	float:left;
	width:374px;
	padding-left:6px;
}

.signInButtons
{
	width:auto;
	padding-left:200px;
	margin-top:24px;
}

.smlFieldInfo
{
	font-size:11px;
	color:#666;
}

input[type="submit"]
{
	background:url(../../../public/imagesets/master/images/form-button-shaded-bg.png) repeat-x top;
	color:#FFF;
	padding-left:24px;
	padding-right:24px;
	padding-top:6px;
	padding-bottom:6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

input[type="submit"]:hover
{
	background:url(../../../public/imagesets/master/images/form-button-shaded-bg-hover.png) repeat-x top;
	color:#000;
	padding-left:24px;
	padding-right:24px;
	padding-top:6px;
	padding-bottom:6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	cursor:pointer;
}