@charset "utf-8";

.createAccountLink a, .createAccountLink a:link, .createAccountLink a:active, .createAccountLink a:visited
{
	color:#FFF;
	text-decoration:none;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom:8px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	background-color:#808080;
	letter-spacing:1px;
}

.createAccountLink a:hover
{
	color:#000;
	text-decoration:none;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom:8px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	background-color:#C3C3C3;
	letter-spacing:1px;
}

.signInLink a, .signInLink a:link, .signInLink a:active, .signInLink a:visited
{
	color:#000;
	text-decoration:none;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom:8px;
	letter-spacing:1px;
	margin-right:12px;
}

.signInLink a:hover
{
	color:#000;
	text-decoration:underline;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom:8px;
	letter-spacing:1px;
	margin-right:12px;
}

.topBarCellCenter a, .topBarCellCenter a:link, .topBarCellCenter a:active, .topBarCellCenter a:visited
{
	color:#000;
	text-decoration:none;
}

.topBarCellCenter a:hover
{
	color:#999;
	text-decoration:none;
}

.navBarLeft a, .navBarLeft a:link, .navBarLeft a:active, .navBarLeft a:visited
{
	color:#000;
	text-decoration:none;
}

.navBarLeft a:hover
{
	color:#000;
	text-decoration:underline;
}

.islandToggle a, .islandToggle a:link, .islandToggle a:active, .islandToggle a:visited
{
	opacity:0.2;
}

.islandToggle a:hover
{
	opacity:1.0;
}

a, a:link, a:active, a:visited
{
	color:#205FA0;
	text-decoration:none;
}

a:hover
{
	color:#000;
	text-decoration:underline;
}

.whosOnlineLink a, .whosOnlineLink a:link, .whosOnlineLink a:active, .whosOnlineLink a:visited
{
	color:#205FA0;
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;
	letter-spacing:1px;
}

.whosOnlineLink a:hover
{
	color:#000;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	letter-spacing:1px;
}

.imgFaded
{
	opacity:0.5;
	border:0px;
}

.imgFaded:hover
{
	opacity:1.0;
	border:0px;
}

.memberMenuLink a, .memberMenuLink a:link, .memberMenuLink a:active, .memberMenuLink a:visited
{
	color:#000;
	text-decoration:none;
}

.memberMenuLink a:hover
{
	color:#333;
	text-decoration:none;
}

.dropDownFirstLink a, .dropDownFirstLink a:link, .dropDownFirstLink a:active, .dropDownFirstLink a:visited
{
	color:#000;
	text-decoration:none;
	display:block;
	padding:8px;
	text-align:left;
}

.dropDownFirstLink a:hover
{
	color:#000;
	text-decoration:none;
	display:block;
	padding:8px;
	background-color:#CACACA;
	text-align:left;
}

.dropDownLink a, .dropDownLink a:link, .dropDownLink a:active, .dropDownLink a:visited
{
	color:#000;
	text-decoration:none;
	display:block;
	padding:8px;
	text-align:left;
	border-top:1px inset #999;
}

.dropDownLink a:hover
{
	color:#000;
	text-decoration:none;
	display:block;
	padding:8px;
	background-color:#CACACA;
	text-align:left;
	border-top:1px inset #999;
}