@charset "utf-8";

.topBarRight a, .topBarRight a:link, .topBarRight a:active, .topBarRight a:visited
{
	color:#FFF;
	text-decoration:none;
}

.topBarRight a:hover
{
	color:#CCC;
	text-decoration:none;
}

.menuBar a, .menuBar a:link, .menuBar a:active, .menuBar a:visited
{
	color:#FFF;
	text-decoration:none;
}

.menuBar a:hover
{
	color:#FFF;
	text-decoration:underline;
}

.forumNameLink a, .forumNameLink a:link, .forumNameLink a:active, .forumNameLink a:visited
{
	font-size:13px;
	font-weight:bolder;
	color:#0B56A3;
	text-decoration:none;
}

.forumNameLink a:hover
{
	font-size:13px;
	font-weight:bolder;
	color:#000;
	text-decoration:underline;
}

a, a:link, a:active, a:visited
{
	color:#0B56A3;
	text-decoration:none;
}

a:hover
{
	color:#000;
	text-decoration:underline;
}

.contentSubTitle  a, .contentSubTitle  a:link, .contentSubTitle  a:active, .contentSubTitle  a:visited
{
	color:#FFF;
	text-decoration:none;
}

.contentSubTitle  a:hover
{
	color:#FFF;
	text-decoration:underline;
}

.footerContainer a, .footerContainer a:link, .footerContainer a:active, .footerContainer a:visited
{
	color:#FFF;
	text-decoration:none;
}

.footerContainer a:hover
{
	color:#FFF;
	text-decoration:underline;
}

.popOutFirstItem a, .popOutFirstItem a:link, .popOutFirstItem a:active, .popOutFirstItem a:visited
{
	color:#000;
	text-decoration:none;
	display:block;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:6px;
}

.popOutFirstItem a:hover
{
	color:#000;
	text-decoration:none;
	display:block;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:6px;
	background-color:#CDD6DF;
}

.popOutItems a, .popOutItems a:link, .popOutItems a:active, .popOutItems a:visited
{
	color:#000;
	text-decoration:none;
	display:block;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:6px;
	border-top:1px solid #999;
}

.popOutItems a:hover
{
	color:#000;
	text-decoration:none;
	display:block;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:6px;
	background-color:#CDD6DF;
	border-top:1px solid #999;
}

.underPopOutItems a, .underPopOutItems a:link, .underPopOutItems a:active, .underPopOutItems a:visited
{
	color:#000;
	text-decoration:none;
	display:block;
	padding:8px;
	background-color:#FFF;
	border-top:1px solid #999;
}

.underPopOutItems a:hover
{
	color:#000;
	text-decoration:none;
	display:block;
	padding:8px;
	background-color:#CDD6DF;
	border-top:1px solid #999;
}

.popOutButton a, .popOutButton a:link, .popOutButton a:active, .popOutButton a:visited
{
	display:inline-block;
	color:#0B56A3;
	text-decoration:none;
	margin-left:12px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:16px;
	padding-right:16px;
	border:1px solid #999;
}

.popOutButton a:hover
{
	display:inline-block;
	color:#000;
	text-decoration:none;
	margin-left:12px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:16px;
	padding-right:16px;
	border:1px solid #999;
	background-color:#CDD6DF;
}